{% extends 'base.html' %}

{% block content%}
	<!-- This is the Hero's section -->
	<section class="container-fluid hero d-flex flex-column justify-content-end" style="background-image: url('{{ url_for('static', filename='images/bg5.jpg') }}');">
		<h1 class="font-italic">Welcome To <strong>MoonPrints-Africa</strong></h1>
		<h4 class="tx-1">Transform Your Space with Personalized Prints</h4>
	</section>

	<!-- About Us section -->
	<section class="container-fluid bg-1" id="about">
		<div class="row">
			<div class="col-lg-6 p-5 mt-5">
				<h1 class="mb-3"><strong>About Us</strong></h1>
				<h4 class="mb-3 font-italic">MoonPrints-Africa</h4>
				<p class="mb-5">
					At <b>MoonPrints-Africa</b>, we believe in the power of personalization. Our mission is to bring your unique vision to life through high-quality, customized prints. Founded by a team of passionate artists and designers, MoonPrints is dedicated to transforming your space with art that speaks to you. Whether you're looking to commemorate a special moment or add a personal touch to your home decor, we're here to help you create something truly special.
				</p>
				<div>
					<a href="https://wa.me/254792447497" target="_blank">
						<button type="button" class="btn btn-dark p-3">CONTACT US</button>
					</a>
				</div>
			</div>
			<div class="col-lg-6">
				<img class="img-fluid" src="{{ url_for('static', filename='images/about1.png') }}">
			</div>
		</div>
		<div class="d-md-flex justify-content-between">
			<div class="about-card ml-md-3">
				<h3>CALL US</h3>
				<p>
					+254 (792) 447-497, <br>
					+254 (792) 447-497, <br>
				</p>
			</div>
			<div class="about-card ml-md-3">
				<h3>LOCATION</h3>
				<p>
					01000 Thika, Kenya <br>
					00100 Nairobi, Kenya <br>
				</p>
			</div>
			<div class="about-card ml-md-3">

				<h3>HOURS</h3>
				<p>
					Mon - Sat : 8.00AM - 5.00PM, <br>
				</p>
			</div>
		</div>
	</section>

	<!-- Value proposition section -->
	<section class="container-fluid text-center" id="why-us">
		<h1 class="mb-5 font-italic tx-2">Why Us</h1>
		<hr class="hr-">
		<div class="d-sm-flex justify-content-around text-center">
			<div class="p-3">
				<div class="v-img mb-3">
					<img src="{{url_for('static', filename='images/medal-solid.svg') }}" class="img-fluid">
				</div>
				<h3>High Quality</h3>
				<p>Crafted with premium materials for a lasting impression</p>
			</div>
			<div class="p-3">
				<div class="v-img mb-3">
					<img src="{{url_for('static', filename='images/truck-fast-solid.svg') }}" class="img-fluid">
				</div>
				<h3>Fast Delivery</h3>
				<p>Experience fast and reliable delivery services.</p>
			</div>
			<div class="p-3">
				<div class="v-img mb-3">
					<img src="{{url_for('static', filename='images/dollar-solid.svg') }}" class="img-fluid">
				</div>
				<h3>Affordable Pricing</h3>
				<p>Get your customized merchandise at pocket-friendly prices.</p>
			</div>
		</div>
		<hr>
	</section>

	<!-- Email Subscription and Contact information -->
	<section class="container mb-5" id="contact">
		<h2 class="mb-5 text-center tx-2 font-italic">Do You Have Questions?</h2>
		<div>
			<div class="mb-5">
				<h2 class="text-center mb-3">Send Us An Email</h2>
				<form id="contact-form">
					<div class="form-group mb-3 f-border">
						<label for="user-name">Full Name:</label>
						<input type="name" class="form-control no-border" id="user-name" required>
					</div>
					<div class="form-group mb-3 f-border">
						<label for="email">Email Address:</label>
						<input type="name" class="form-control no-border" id="email" required>
					</div>
					<div class="form-group mb-3 f-border">
						<label for="phone">Phone number:</label>
						<input type="tel" class="form-control no-border" id="phone">
					</div>
					<div class="form-group mb-3 f-border">
						<label for="msg">Message:</label>
						<textarea class="form-control no-border" id="msg" type="text" placeholder="Enter your message here..." style="height: 10rem;" required>
						</textarea>
					</div>
					<button type="submit" class="btn btn-secondary mb-2">Email Us</button>
				</form>
			</div>
		</div>
	</section>
{% endblock %}
